/* static/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.log-in-button {
    background-color: hsl(141, 73%, 42%);
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.2s;
    border: 0px;
}

.log-in-button:hover {
    background-color: hsl(141, 73%, 52%);
}

.log-in-button:active {
    background-color: hsl(141, 73%, 42%);
}

.log-in-button:focus {
    outline:none;
}